<% content_for :body do %>
  <body class="min-h-screen flex flex-col bg-base-100 text-base-content container mx-auto max-w-screen-md p-6">
    <%= render "shared/flash" %>

    <div class="flex justify-center items-center">
      <%= link_to "tinyapp", root_path, class: "pb-6 text-xl font-semibold" %>
    </div>

    <main class="py-6 flex-grow">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
<% end %>

<%= render template: "layouts/application" %>
